@charset "utf-8";

div, span, object, h1, h2, h3, h4, h5, h6, p, em, font, img, small, strong, b, u, i, center, ol, ul, li, dl, dt, fieldset, label,
table, caption, tbody, tr, th, td, body, html {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
}

body, html {
   height: 100%;
   background-color: #fff;
}

table {
   border-collapse: collapse;
}

td {
   vertical-align: top;
}

/*---------- Handy classes ----------*/

.wide {
   width: 100%
}

.clear {
   clear: both;
   margin: 0;
   height: 0;
   line-height: 0;
}

.hand {
   cursor: hand;
   cursor: pointer;
}

.b {
   border: #F00 1px solid;
}

.b1 {
   border: #0F0 1px solid;
}

.b2 {
   border: #00F 1px solid;
}

.b3 {
   border: #FF0 1px solid;
}

.b4 {
   border: #0FF 1px solid;
}

.b5 {
   border: #F0F 1px solid;
}

